<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/template/css/formularios.css">
    <title>Administrador</title>
</head>
<body>
    <header class="title">
        <h1>Administrador </h1>
    </header>
    <div class="container">
        <header class="header">
            <h1>Nombre Usuario</h1>
            <h2  ><a class="a" href="/template/html/administrador.html"> regresar </a></h2>
        </header>
        <main class=" content">
            
            <article  class="article">
                
                

                        <table>
                            <thead>
                                <tr>
                                    <th>Nombre de Usuario</th><th>contraseña</th><th>Acciones</th>
                                </tr>
                            </thead>
                
                            <tr>
                                <td>Administrador</td><td>XxXXxxXX</td><td><a href="">Editar</a> <a href="">Borrar</a></td>
                            </tr>
                            <tr>
                                <td>usuario1</td><td>XxXXxxXX</td><td><a href="">Editar</a> <a href="">Borrar</a></td>
                            </tr>
                            <tr>
                                <td>usuario2</td><td>XxXXxxXX</td><td><a href="">Editar</a> <a href="">Borrar</a></td>
                            </tr>
                            <tr>
                                <td>usuario4</td><td>XxXXxxXX</td><td><a href="">Editar</a> <a href="">Borrar</a></td>
                            </tr>
                        </table>
                   
                
                   

            </article>
            
        </main>
        <aside class="sideber">
            <div>

            </div>
        </aside>

        <div class="related-post">
            
        </div>
        <div class="related-post">
                
        </div>
        <div class="related-post">
                
        </div>
        <div class="related-post">
                
        </div>
        <div class="related-post">
                
        </div>

        <footer class="footer">
            <div class="f">
            <h4><a class="icon-twitter"href="https://twitter.com/cabreu145"></a>
                <a href="https://github.com/cabreu145" class="icon-github"></a></h4>
            <p class="sign">Design with <i class="❤">❤</i> by @cabreu145</p>
            </div>

        </footer>
            
    </div>

    
</body>
</html>